---
// Component imports
import { JobOffer } from "@component/JobOffer"
import { Container, Section } from "@component/utils"
import { Layout } from "@globals"
import { getJobOffers } from "@lib/sanity"
import { DeleteOffer } from "@component/DeleteOffer"

const job_offers = await getJobOffers()

export const prerender = true
---

<Layout title="AstroJobs">
	<Section id="hero">
		<Container>
			<div class="space-y-6 flex flex-col items-center">
				<div class="text-center space-y-4">
					<h1>
						🚀 Astro<span class="text-orange-600">Jobs</span>
					</h1>
					<p class="h2 max-w-[525px]">
						Find companies hiring Astro roles or post an offer if you’re looking
						for an Astro developer!
					</p>
				</div>
				<!-- <button class="btn btn-primary">✉️ Get new job notifications</button> -->
			</div>
		</Container>
	</Section>
	<Section id="offers">
		<Container>
			<div class="grid gap-4 lg:max-w-3xl mx-auto">
				{job_offers.map((offer) => <JobOffer client:visible {...offer} />)}
				{
					job_offers.length === 0 && (
						<div class="space-y-10 rounded-lg border-2 border-dashed border-gray-400 p-6 backdrop-blur-lg dark:border-white/10 dark:bg-slate-950/40">
							<p class="text-center text-xl font-semibold">
								No jobs listed yet!
							</p>
							<a href="/post-an-offer" class="btn btn-primary mx-auto max-w-xs">
								💼 Post an offer
							</a>
						</div>
					)
				}
			</div>
		</Container>
	</Section>
	<DeleteOffer client:load />
</Layout>
