---
// Component imports
import { JobOffer } from "@component/JobOffer"
import { Hero } from "@component/Hero"
import { Container, Section } from "@component/utils"
import { Layout } from "@globals"
import { getJobOffers } from "@lib/sanity"

const job_offers = await getJobOffers()

export const prerender = true
---

<Layout title="Astro PWA Starter">
	<Section id="hero">
		<Container>
			<Hero />
		</Container>
	</Section>
	<Section id="offers">
		<Container>
			<div class="grid gap-4 lg:max-w-4xl mx-auto">
				{job_offers.map((offer) => <JobOffer client:visible {...offer} />)}
			</div>
		</Container>
	</Section>
</Layout>
