---
import { Container, Section } from "@component/utils"
import { Layout } from "@globals"
---

<Layout title="Offer Posted">
	<Section id="hero">
		<Container>
			<div class="text-center max-w-2xl mx-auto space-y-6">
				<h1>🚀 Offer <span class="text-orange-600">posted</span>.</h1>
				<p>
					Your offer will be posted for 30 days! We'll be sending you a
					confirmation email as well as a one-time delete URL if you need to
					remove your listing.
				</p>
				<div class="max-w-xs mx-auto">
					<a href="/" class="btn btn-primary mx-auto">Return home</a>
				</div>
			</div>
		</Container>
		<canvas id="my-canvas" class="fixed inset-0 pointer-events-none"></canvas>
	</Section>
</Layout>

<script>
	import ConfettiGenerator from "confetti-js"

	var confettiSettings = { target: "my-canvas" }
	var confetti = new ConfettiGenerator(confettiSettings)
	confetti.render()
</script>
