---
import { Layout } from "@globals"
import { Section, Container } from "@component/utils"
import { PostOfferForm } from "@component/PostOfferForm"
---

<Layout
	title="Post an offer"
	description="Looking to onboard an Astro developer for your next project? Post an offer!"
>
	<Section id="post-an-offer">
		<Container>
			<div class="max-w-2xl mx-auto space-y-12">
				<div class="space-y-4">
					<h1 class="text-center">
						Post an <span class="text-orange-600">offer</span>
					</h1>
					<p class="h2 text-center">
						We have <span class="text-orange-600">10</span> free spots left!
					</p>
				</div>
				<div>
					<PostOfferForm client:visible />
				</div>
			</div>
		</Container>
	</Section>
</Layout>
