---
import { Layout } from "@globals"
import { Section, Container } from "@utils"
---

<Layout title="Privacy Policy">
	<Section id="privacy-policy">
		<Container>
			<div class="space-y-6 max-w-2xl mx-auto">
				<div class="space-y-8">
					<h1 class="text-center">Privacy Policy</h1>
					<p>
						Thank you for visiting our website. This Privacy Policy explains how
						we collect, use, and protect the personal information you provide to
						us through your use of our website.
					</p>
				</div>
				<div class="space-y-4">
					<h2>What Information Do We Collect?</h2>
					<p>
						We use analytics tools, such as Google Analytics, to collect
						information about how visitors use our website. This includes
						information such as the pages you visit, the time you spend on our
						website, and the links you click on. This information does not
						include any personally identifiable information.
					</p>
				</div>
				<div class="space-y-4">
					<h2>How Do We Use Your Information?</h2>
					<p>
						We use the information we collect through our analytics tools to
						analyze how visitors use our website, to improve our website and
						services, and to generate reports about website traffic and
						activity. We do not use this information for any other purposes.
					</p>
				</div>
				<div class="space-y-4">
					<h2>Do We Share Your Information?</h2>
					<p>
						We do not share any personally identifiable information with third
						parties. We may share aggregated or de-identified data with third
						parties for research or marketing purposes.
					</p>
				</div>
				<div class="space-y-4">
					<h2>How Do We Protect Your Information?</h2>
					<p>
						We use industry-standard security measures to protect the
						information we collect through our website. We also limit access to
						this information to authorized personnel who have a legitimate
						business need for it.
					</p>
				</div>
				<div class="space-y-4">
					<h2>Do We Use Cookies?</h2>
					<p>
						Yes, we use cookies to collect information about how visitors use
						our website. Cookies are small data files that are placed on your
						device when you visit a website. We use cookies to analyze website
						traffic, customize website content, and improve your user
						experience.
					</p>
				</div>
				<div class="space-y-4">
					<h2>How Can You Opt-Out of Analytics Tracking?</h2>
					<p>
						You can opt-out of analytics tracking by disabling cookies in your
						web browser. You can also install a browser add-on to opt-out of
						Google Analytics tracking specifically.
					</p>
				</div>
				<div class="space-y-4">
					<h2>Changes to Our Privacy Policy</h2>
					<p>
						We reserve the right to modify this Privacy Policy at any time. Any
						changes to this Privacy Policy will be posted on our website.
					</p>
				</div>
				<div class="space-y-4">
					<h2>Contact Us</h2>
					<p>
						If you have any questions about our Privacy Policy or the
						information we collect through our website, please contact us at
						<a
							class="underline hover:text-orange-600 transition duration-300 ease-in-out"
							href="mailto:support@astrojobs.net">support@astrojobs.net</a
						>
					</p>
				</div>
			</div>
		</Container>
	</Section>
</Layout>
