<footer
	class="p-6 dark:bg-slate-950 space-y-4 lg:flex lg:items-center lg:space-y-0"
>
	<div class="lg:flex-1">
		<p class="text-xl font-black text-center">
			🚀 Astro<span class="text-orange-600">Jobs</span>
		</p>
	</div>
	<div class="lg:flex-1">
		<ul class="items-center flex gap-x-4 justify-center">
			<li>
				<a
					class="small hover:text-orange-600 transition duration-300"
					href="mailto:support@astrojobs.net">Contact us</a
				>
			</li>
			<li>
				<a
					class="small hover:text-orange-600 transition duration-300"
					href="/privacy-policy">Privacy Policy</a
				>
			</li>
			<li>
				<a
					class="small hover:text-orange-600 transition duration-300"
					href="/post-an-offer">Post an offer</a
				>
			</li>
		</ul>
	</div>
	<div class="lg:flex-1">
		<p class="text-white/60 small text-center">
			AstroJobs is not affiliated with <a
				class="underline"
				href="https://astro.build">astrodotbuild</a
			>.
		</p>
	</div>
</footer>
