---
// Component imports
import { Container, Section } from "@component/utils"
import { Layout } from "@globals"
---

<Layout title="Astro PWA Starter">
	<Section id="hero">
		<Container>
			<div class="space-y-4 flex flex-col items-center">
				<div class="text-center space-y-2">
					<h1>🚀 Astro<span class="text-orange-600">Jobs</span></h1>
					<p class="h2 max-w-[525px]">
						Find companies hiring Astro roles or post an offer if you’re looking
						for an Astro developer!
					</p>
				</div>
				<button class="btn btn-primary">🔔 Get new job notifications</button>
			</div>
		</Container>
	</Section>
</Layout>
